<div *ngIf="section === 'home'" class="text-center">
  <h2 class="fw-bold">Home Section</h2>
  <p class="text-muted">Prove Nro 1, home section.</p>
</div>

<div *ngIf="section === 'about_us'" class="text-center">
  <h2 class="fw-bold">About us section</h2>
  <p class="text-muted">Prove Nro 1, about_us section.</p>
</div>

<div *ngIf="section === 'prod_n_serv'" class="text-center">
  <h2 class="fw-bold">MProd and services</h2>
  <p class="text-muted">Prove Nro 1, prod_n_serv section.</p>
</div>

<div *ngIf="section === 'contact'" class="text-center">
  <h2 class="fw-bold">Contact</h2>
  <p class="text-muted">Prove Nro 1, contact section.</p>
</div>