.hero-section::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 320px;
  background: white;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}
