<section class="block align-items-center justify-content-center text-center mb-5 mt-5">
    <div class="mb-5">
        <h1>Primary products and services</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="mx-3 d-flex align-items-center gap-2">
            <span>1</span>
            <h3 class="lead">Policy and reserach dialogue</h3>
        </div>
        <div class="mx-3 d-flex align-items-center gap-2">
            <span>2</span>
            <h3 class="lead">Training workshop and short courses</h3>
        </div>
        <div class="mx-3 d-flex align-items-center gap-2">
            <span>3</span>
            <h3 class="lead">Research programs</h3>
        </div>
        <div class="mx-3 d-flex align-items-center gap-2">
            <span>4</span>
            <h3 class="lead">System strengthening courses</h3>
        </div>
        <div class="mx-3 d-flex align-items-center gap-2">
            <span>5</span>
            <h3 class="lead">Consultancy services</h3>
        </div>
    </div>
</section>

