

.products-section {
  background-color: #f5f5f5;
}

.section-title {
  font-weight: 600;
  font-size: 2rem;
  color: #800000;
}

.section-subtitle {
  font-size: 1.2rem;
  margin: 0 auto;
  color: rgb(14, 13, 13);
}

.product-card {
  background: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-left: 5px solid #925215;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
  border-left: 5px solid #66390f;
}

.product-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #66390f;
  min-width: 50px;
}

.product-title {
  font-weight: 600;
  margin-bottom: 6px;
  color: #854444;
}

.product-description {
  font-size: 1.2rem;
  margin: 0 auto;
  color: rgb(14, 13, 13);
}

.text-values{
  font-family: 'base_font', sans-serif;
}
