<div class="dynamic-content" [@fadeAnimation]="section">
  <div [ngSwitch]="section">

    <div *ngSwitchCase="'home'">
      <h1 class="display-2 fw-bold text-hero">Primary products and services<span class="dot">.</span></h1>
      <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
        <button class="btn rounded-pill fw-bold text-hero" (click)="goToSection('core-values')">Core Values</button>
        <button class="btn rounded-pill fw-bold text-hero" (click)="goToSection('focus-areas')">Focus Areas</button>
        <button class="btn rounded-pill fw-bold text-hero" (click)="goToSection('products')">Products and Services</button>
        <button class="btn rounded-pill fw-bold text-hero" (click)="goToSection('news')">News</button>
      </div>
    </div>

    <div *ngSwitchCase="'about'" class="container py-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="about_us_3.jpg" alt="About Us" class="shadow img-about-us">
        </div>
        <div class="col-md-6 text-start">
           <div class="about-header" [class.shifted-up]="activeSection !== null">
              <h1 class="fw-bold text-hero">About Victoria Falls Regional Institute</h1>
              <p class="lead text-hero">Victoria Falls Research Institute is a pan African independent academic and research institute with operational bases in Zimbabwe and Kenya.</p>
              <p class="lead text-hero">We seek to localize the power of knowledge in the fields of, International Law, International Relations, Peace & Security, Governance, Development and Humanitarian Affairs</p>
           </div>
            <div class="justify-content-center d-flex gap-2">
              <button 
                class="btn rounded-pill fw-bold text-hero" 
                [class.btn-active]="activeSection === 'why'"
                (click)="toggleSection('why')">
                Why we exist?
              </button>
              <button 
                class="btn rounded-pill fw-bold text-hero"
                [class.btn-active]="activeSection === 'vision'"
                (click)="toggleSection('vision')">
                Vision and Mission
              </button>
            </div>


            <div class="section-content" [class.visible]="activeSection !== null">
        
            <div *ngIf="activeSection === 'why'" class="section-text">
              <h2 class="fw-bold mb-2 text-hero">Why We Exist?</h2>
              <p class="lead text-hero">
                Africa is not only rich in human and natural resources. It possesses wealth, wisdom and knowledge. However, its
                wisdom and knowledge are often demeaned, unrecognised and marginalised; including by some Africans, but more
                importantly within the global knowledge systems.
              </p>
              <p class="lead text-hero">A common trend that limits African knowledge and wisdom's role in shaping global research agendas and
                policies is distance. Discussions, Policy Formulations and Conferences about Africa tend to be held without Africa.
                They are held outside Africa. Those who possess African wisdom, knowledge and experiences are often denied or
                have limited access to such platforms, due to many factors including visa and financial limitations.
              </p>
            </div>

            <div *ngIf="activeSection === 'vision'" class="section-text">
              <h2 class="fw-bold mb-2 text-hero">Vision</h2>
              <p class="lead text-hero">
                To inspire African Rennaissance.
              </p>
              <h2 class="fw-bold mb-2 mt-3 text-hero">Mission</h2>
              <p class="lead text-hero">
                To bridge the gap between local knowledge and global research and policy- making; facilitate
                dialogue towards the creation of African narratives through extensive knowledge production and dissemination.
              </p>
            </div>

          </div>

        </div>  
      </div>
    </div>

    <div *ngSwitchCase="'leadership'" class="container py-20">
      <div class="row align-items-center mb-5">
          <div class="col-md-6">
            <img src="founder.jpg" alt="founder" class="shadow img-about-us">
          </div>
          <div class="col-md-6 text-start">
              <h1 class="fw-bold text-hero">Dr. James Nyawo</h1>
              <h3 class="text-hero">Founding Executive Director</h3>
              <p class="lead text-hero text-founder">James Nyawo holds a Ph.D. in International Law from Middlesex University, UK, and is a
                Zimbabwean scholar-practitioner with over 20 years of experience in humanitarian field
                management and academia. His fieldwork includes assignments in Angola, Northern Uganda,
                Sudan, and South Sudan. He has consulted for UN agencies like UNICEF, IOM, and UNESCO.
                Nyawo specializes in International Law, International Relations, Security, and Terrorism and is a
                lecturer at Strathmore University in Nairobi, Kenya, where he teaches related subjects. He has
                lectured internationally and published extensively on Africa and international criminal justice,
                particularly regarding the enforcement of International Criminal Law by the ICC in Africa.
                Nyawo is also involved in organizations such as ICMICA-MIIC Pax Romana Africa and the Buhera
                Development Forum. He is deeply committed to the Pax Africana philosophy and the
                revitalization of Africa.
              </p>
              </div>
            </div>
          
        
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="director.jpg" alt="director" class="shadow img-about-us">
            </div>
            <div class="col-md-6 text-start">
          
                <h1 class="fw-bold text-hero">Dr. Saul Davis Sango</h1>
                <h3 class="text-hero">Director</h3>
                  <p class="lead text-hero text-founder">Dr. Saul Davis Sango holds a B.Sc. in Statistics and Data Analysis and an M.Sc. in Industrial
                  Diversity & Organizational Psychology, and is currently pursuing a Ph.D. in Psychology. He is a
                  Kenyan training consultant and business development strategist with extensive experience
                  across Africa, working with institutions such as Empowerment Resource Technologies, World
                  Governance Centre, Devrell International, and the Victoria Falls Regional Institute for Strategic
                  Studies. Dr. Sango is a Six Sigma Black Belt (SSBB) and PMP-certified professional, specializing
                  in organizational psychology, data and insights analysis, and change management. He is
                  passionate about performance enhancement, leadership development, emotional intelligence,
                  and digital transformation. An author and trusted advisor, he is also affiliated with organizations
                  in research, development, and strategic consulting, and is a strong advocate for data-driven
                  decision-making and organizational excellence in the African context.
                  </p>
                </div>
          </div>
    </div>

    <div *ngSwitchDefault>
      <h1 class="display-2 fw-bold text-hero">Primary products and services<span class="dot">.</span></h1>
      <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
        <button class="btn rounded-pill fw-bold text-hero">Core Values</button>
        <button class="btn rounded-pill fw-bold text-hero">Focus Areas</button>
        <button class="btn rounded-pill fw-bold text-hero">Products and Services</button>
        <button class="btn rounded-pill fw-bold text-hero">News</button>
      </div>
    </div>

  </div>
</div>