.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 15px;
}
.dynamic-content {
  transition: opacity 0.3s ease-in-out;
}


.img-about-us {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.about-header {
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);

  &.shifted-up {
    transform: translateY(-30px);
  }
}

.section-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 
    max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);;

  &.visible {
    max-height: 300px;
    opacity: 1;
    overflow-y: auto;
  }
}

.section-text {
  padding-top: 12px;
  border-top: 2px solid #e0e0e0;
  margin-top: 8px;
}


.btn {
  border: 2px solid #fcfcfc;
  color: white;
  padding: 6px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.btn-active {
    background-color: #ffffff;
    color: #145d37;
  }

  &:hover {
    background-color: #FFD700;
    color: #145d37;
  }
}

.text-hero{
  font-family: 'base_font', sans-serif;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  text-align: justify;
}

.text-founder{
    width: 100%;
    max-width: 1000px;
    overflow-y: auto;
    padding-right: 15px;
}

@media (max-width: 1000px) {
  .img-about-us {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}


