<section class="news-section py-5">
  <div class="container">

    <div class="row align-items-center">

      <!-- LEFT: Carousel -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner rounded shadow">

            <div 
              class="carousel-item"
              [class.active]="i === 0"
              *ngFor="let item of news; let i = index">

              <img [src]="item.image"
                   class="d-block w-100 news-image"
                   alt="News image">
            </div>

          </div>

          <!-- Controls -->
          <button class="carousel-control-prev"
                  type="button"
                  data-bs-target="#newsCarousel"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>

          <button class="carousel-control-next"
                  type="button"
                  data-bs-target="#newsCarousel"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>

        </div>
      </div>

      <!-- RIGHT: News Content -->
      <div class="col-lg-6 text-values">
        <div class="news-content p-4">

          <h3 class="news-title">
            {{ news[activeIndex].title }}
          </h3>

          <p class="news-date">
            {{ news[activeIndex].date }}
          </p>

          <p class="news-description">
            {{ news[activeIndex].description }}
          </p>

          <button class="btn btn-outline-dark mt-3"
                  (click)="onReadMore(news[activeIndex])">
            Read More
          </button>

        </div>
      </div>

    </div>

  </div>
</section>
