.custom-navbar {
  background: transparent;
  backdrop-filter: blur(0px);
  transition: 
  background 0.4s ease,
  backdrop-filter 0.4s ease,
  padding 0.3s ease;
}

.navbar-brand {
  display: flex;     
  align-items: center; 
  gap: 10px;   
  text-decoration: none;
  font-size: 1.5rem;

  .dot {
    color: #0bdd62;
  }
}

.scrolled-navbar {
  background: #1933c9 !important;
}

.scrolled {
  background: rgba(128, 0, 0, 0.40);
  backdrop-filter: blur(6px);
  .text-options,.text1,.text2 {
    color: #FFD700;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .logo-img {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7));
  }
  .navbar-collapse.show{
    background: none;
  }
}

.logo-img {
  height: 60px;
  width: auto;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
}

.brand-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.text1 {
  display: flex;
  font-size: clamp(0.8rem, 0.133rem + 2.13vw, 1.2rem);
  margin-left: 10px;
} 


.text2 {
  display: flex;
  font-size: clamp(0.7rem, 0.2rem + 1.6vw, 1rem);
  margin-left: 10px;
  font-weight: lighter;
} 

.text-options {
  display: flex;
  font-size: 1.2rem;
  color: #852b2b;
  margin-left: 10px;
  font-weight:lighter;
  text-shadow: 1px 1px 2px black;
  transition: color 0.3s ease;
} 

.pesonalized-text {
  font-family: 'base_font', sans-serif;
  font-weight: bold;
  color: #800000;
  text-shadow: 1px 1px 2px black;
  transition: color 0.3s ease;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.nav-item{
  display: flex;
}

.navbar-collapse.show {
  background-color: rgba(104, 104, 104, 0.9);
  padding: 1rem;
  border-radius: 15px;
  margin-top: 10px;
}

