.custom-navbar {
  background: rgba(20, 25, 60, 0.8);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff;

  .dot {
    color: #ff4d6d;
  }
}

.btn-download {
  background: linear-gradient(45deg, #ff4d6d, #ff758f);
  color: white;
  border-radius: 8px;
  padding: 6px 18px;
  border: none;
}

.scrolled-navbar {
  background: #0f1535 !important;
}

