<nav class="navbar navbar-expand-xl navbar-dark fixed-top custom-navbar" [ngClass]="{'scrolled': scrolled}">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      <img [src]="scrolled ? logoScroll : logoNormal" alt="Logo" class="logo-img">
       <div class="brand-text">
        <span class="text1 pesonalized-text">VICTORIA FALLS REGIONAL INSTITUTE</span>
        <span class="text2 pesonalized-text">Remaining Africa through Dialogue</span>
      </div>
    </a>

    <button class="navbar-toggler ms-auto" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}" #navbarCollapse>
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link text-options pesonalized-text" href="#" (click)="selectSection('home')">HOME</a>
        </li>
        <li>
          <a class="nav-link text-options pesonalized-text" href="#" (click)="selectSection('about')">ABOUT US</a>
        </li>
          <li>
            <a class="nav-link text-options pesonalized-text" href="#" (click)="selectSection('leadership')">LEADERSHIP</a>
          </li>
          <li>
            <a class="nav-link text-options pesonalized-text" href="#" (click)="selectSection('contact')">CONTACT</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
