.custom-navbar {
  background: transparent;
  backdrop-filter: blur(0px);
  transition: 
  background 0.4s ease,
  backdrop-filter 0.4s ease,
  padding 0.3s ease;
}

.navbar-brand {
  display: flex;     
  align-items: center; 
  gap: 10px;   
  text-decoration: none;
  font-size: 1.5rem;

  .dot {
    color: #0bdd62;
  }
}

.scrolled-navbar {
  background: #1933c9 !important;
}

.scrolled {
  background: rgba(245, 239, 127, 0.40);
  backdrop-filter: blur(6px);
  .text-options,.text1,.text2 {
    color: #800000;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
  }
  .logo-img {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
  }
}

.logo-img {
  height: 60px;
  width: auto;
}

.brand-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.text1 {
  display: flex;
  font-size: 1.2rem;
  margin-left: 10px;
} 


.text2 {
  display: flex;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: lighter;
} 

.text-options {
  display: flex;
  font-size: 1.2rem;
  color: #FFD700;
  margin-left: 10px;
  font-weight:lighter;
  text-shadow: 1px 1px 2px black;
  transition: color 0.3s ease;
} 

@font-face {
  font-family: 'font1-logo';
  src: url('/assets/fonts/JosefinSans.ttf') format('truetype');
}

.pesonalized-text {
  font-family: 'font1-logo', sans-serif;
  font-weight: bold;
  color: #FFD700;
  text-shadow: 1px 1px 2px black;
  transition: color 0.3s ease;
}

.nav-item{
  display: flex;
}
