<!-- HEADER / NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top px-4 bg-purple"
     style="background: linear-gradient(180deg, #145D37);">

  <!-- Logo -->
  <a class="navbar-brand text-white fw-bold" href="#">
    ⬜Victoria Falls - Regional Institute
  </a>

  <!-- Center Menu -->
  <div class="mx-auto">
    <ul class="navbar-nav d-flex flex-row gap-4 text-uppercase small fw-semibold">

      <li class="nav-item">
        <a class="nav-link text-gold"
           style="cursor:pointer"
           (click)="changeSection('home')">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-gold"
           style="cursor:pointer"
           (click)="changeSection('about_us')">About us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-gold"
           style="cursor:pointer"
           (click)="changeSection('prod_n_serv')">Products and services</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-gold"
           style="cursor:pointer"
           (click)="changeSection('contact')">Contact</a>
      </li>

    </ul>
  </div>

  <!-- Icons right -->
  <div class="text-white fs-5">
    🛒 &nbsp; 🔍
  </div>

</nav>

<!-- HERO SECTION -->
<div class="hero-section d-flex align-items-center justify-content-center text-white text-center"
     style="
            height:75vh;
            background: linear-gradient(180deg, #145D37 0%, #1b442f 18000%);
            position:relative;">

  <div>
    <h1 class="display-4 fw-bold text-gold">Reimagining Africa Through Dialogue</h1>
    <p class="lead">Minimal Angular + Bootstrap Design</p>
  </div>

</div>

<!-- BODY DINÁMICO -->
<div class="container my-5">
  <app-body [section]="selectedSection"></app-body>
</div>

<!-- FOOTER -->
<footer class="bg-maroon text-gold text-center py-4">
  <p class="mb-0">© 2026  - Angular Demo</p>
</footer>
