.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.bg-video.active {
  opacity: 1;
}

.bg-video.fade-out {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 15, 40, 0.7);
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1500px;
  max-height: 90vh;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  box-sizing: border-box;
  overflow-y: auto;
}

.dot {
  color: #ff4d6d;
}

.btn{
  margin: 10px 20px;
  border: 2px solid #fcfcfc;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover{
  background: #FFD700;
  color: #145d37;
}

