<section class="hero-section d-flex align-items-center justify-content-center text-center text-white">

  <video #videoA
        preload="auto"
         class="bg-video"
         [class.active]="activeVideo === 'A'"
         [src]="videoSrcA"
         autoplay
         muted
         playsinline
         (ended)="switchVideo()">
  </video>

  <video #videoB
        preload="auto"
         class="bg-video"
         [class.active]="activeVideo === 'B'"
         [src]="videoSrcB"
         autoplay
         muted
         playsinline
          (ended)="switchVideo()">
  </video>

  <div class="content container">
    <app-dynamic-content [section]="currentSection"></app-dynamic-content>
  </div>

</section>
