<section class="hero-section d-flex align-items-center justify-content-center text-center text-white">

  <!-- VIDEO BACKGROUND -->
  <video #bgVideo autoplay muted loop playsinline class="bg-video">
    <source src="vidbg3.mp4" type="video/mp4">
  </video>

  <!-- OVERLAY OSCURO -->
  <!-- <div class="overlay"></div> -->

  <!-- CONTENIDO -->
  <div class="content container">
    <h1 class="display-2 fw-bold ">Primary products and services<span class="dot">.</span></h1>
    <button class="btn primary-btn fw-bold text-white">Policy and ResearchDialogues</button>
    <button class="btn primary-btn fw-bold text-white">Training Workshops and Short Courses</button>
    <button class="btn primary-btn fw-bold text-white">Research Programs</button>
    <button class="btn primary-btn fw-bold text-white">Systems Strengthening Courses</button>
    <button class="btn primary-btn fw-bold text-white">Consultancy Services</button>
    
  </div>

</section>
