.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: black;
}

.bg-video {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;

  filter: brightness(0.6);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 15, 40, 0.7);
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

.dot {
  color: #ff4d6d;
}
