/* === PALETA PERSONALIZADA === */

.bg-maroon {
  background-color: #800000 !important;
}

.bg-green-dark {
  background-color: #145D37 !important;
}

.bg-purple {
  background-color: #6A0DAD !important;
}

.text-gold {
  color: #FFD700 !important;
}

.text-orange {
  color: #FFA500 !important;
}
